.toogle-buttons {
    max-width: 300px;
    align-items: flex-end;
}

.app-bar {
    z-index: 10;
}

.app-bar-shift {
    margin-left: 340px;
    width: calc(100% - 340px);
}

.toolbar {
    padding-right: 24px;
}

.menu-button {
    margin-right: 36px;
}

.menu-button-hidden {
    display: none;
}

.title {
    flex-grow: 1;
}

@media (min-width: 600px)
{
    .search {
        width: auto;
        margin-left: 8px;
    }
}
.search {
    width: auto;
    position: relative;
    margin-left: 0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
    margin-right: 5px;
}

.search .search-icon {
    height: 100%;
    display: flex;
    padding: 0px 16px;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}

.search .MuiInputBase-root {
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
    margin-left: 48px;
}

.search .MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 12ch;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        width: 20ch;
    }
}